<div class="d-flex flex-row bd-highlight">
    
    <div class="form-group" style="width: 100%;" ng-controller="checkController">
        <span *ngIf="submitted && formData.invalid"></span>
        <form ngNativeValidate class="mt-1" [formGroup]="formData" (ngSubmit)="addData()">
            
            <div class="col-sm-10 row container-fluid mt-3">
                <label for="" class="col-sm-10 text-dark col-form-label mt-2">Nombre</label>
                 <div class="col-sm-10">
                <input required type="text" class="form-control" formControlName="name" placeholder="Ingresa el nombre">
                 </div>
            </div>
            <div class="col-sm-10 row container-fluid mt-3">
                <label for="" class="col-sm-10 text-dark col-form-label mt-2">Primer Apellido</label>
                 <div class="col-sm-10">
                <input required type="text" class="form-control" formControlName="apellido1" placeholder="Ingresa el apellido">
                 </div>
            </div>
            <div class="col-sm-10 row container-fluid mt-3">
                <label for="" class="col-sm-10 text-dark col-form-label mt-2">Segundo Apellido</label>
                 <div class="col-sm-10">
                <input required type="text" class="form-control" formControlName="apellido2" placeholder="Ingresa el apellido">
                 </div>
            </div>
            
            <label for="" class="col-sm-10 text-dark col-form-label mt-2">Status</label>
            <div class="col-sm-10">
                <select class="form-control mt-1" formControlName="status">
                    <option>--Select--</option>
                    <option *ngFor="let data of status">
                        {{data.name}}
                    </option>
                </select>
            </div>
            <div class="col-sm-10 row container-fluid mt-3">
                <label for="" class="col-sm-10 text-dark col-form-label mt-2">Teléfono</label>
                 <div class="col-sm-10">
                <input required type="tel" class="form-control" formControlName="telefono" placeholder="Ingresa el telefono">
                 </div>
            </div>
            <div class="col-sm-10 row container-fluid mt-3">
                <label for="" class="col-sm-10 text-dark col-form-label mt-2">Correo</label>
                 <div class="col-sm-10">
                <input required type="email" class="form-control" formControlName="correo" placeholder="Ingresa el correo">
                 </div>
            </div>
            <label for="" class="col-sm-10 text-dark col-form-label mt-2">Unidad Acádemica</label>
            <div class="col-sm-10">
                <select class="form-control mt-1" formControlName="unidadacademica">
                    <option>--Select--</option>
                    <option *ngFor="let data of unidadesacademicas">
                        {{data.name}}
                    </option>
                </select>
            </div>
            
            <div class="mt-3 ml-3">
                <button type="submit" class="btn btn-dark btn-sm">{{action}}</button>
            </div>
            
        </form>
    </div>



</div>